* {
    font-family: "poppins";
}

.nav-item a {
    color: black;
}



.nav-btn {
    outline: solid rgb(69, 69, 69) 1px;
    color: rgb(69, 69, 69);
    transition: color 1.5s ease, outline 1.5s ease, background-color 1.5s ease;

}

.nav-btn:hover {
    color: #ffffff !important;
    background-color: #F16022;
    outline: none;
}

.carousel-indicators [data-bs-target] {
    width: 40px;
    height: 4px;
    border-radius: 2px;
    background-color: rgba(255, 255, 255, 0.408);
    transition: all 0.6s ease;
    margin: 0 5px;
}

.carousel-indicators .active {
    background-color: #F16022;
}

.scroll-container {
    overflow-x: auto;
    display: flex;
    gap: 2rem;
    scroll-behavior: smooth;
    padding: 1rem 2.5rem;
    position: relative;
    z-index: 1;
}


.scroll-container::-webkit-scrollbar {
    display: none;
    /* Chrome, Safari */
}

.scroll-button {
    background-color: transparent;
    border: none;
    font-size: 30px;
    /* Sesuaikan ukuran ikon */
    color: #333;
    /* Ubah warna ikon sesuai kebutuhan */
    cursor: pointer;
    outline: none;
    /* Menghapus outline saat tombol diklik */
}

.scroll-button-left,
.scroll-button-right {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: none;
    box-shadow: none;
    z-index: 9999;
    /* Menghilangkan bayangan jika ada */
}

.scroll-button-left {
    left: 10px;
}

.scroll-button-right {
    right: 10px;
}

.scroll-wrapper {
    position: relative;
    overflow: hidden;
    /* Pastikan ini hanya untuk menghindari overflow vertikal */
    width: 100%;
    /* Pastikan lebar wrapper menyesuaikan dengan kontainer */
}

.custom-card {
    flex: 0 0 auto;
    width: 500px;
    /* Sesuaikan lebar card jika perlu */
}

.custom-img {
    width: 100%;
    height: 500px;
    /* Sesuaikan tinggi sesuai kebutuhan */
    object-fit: cover;
    border-radius: 12px;
}