.bg-home {
    background: linear-gradient(to right, rgba(0, 0, 0, 0.815), rgba(0, 0, 0, 0.596), rgba(0, 0, 0, 0.185)), url('/template/nicolas-j-leclercq-ojK5ADTY4so-unsplash\ \(1\).webp');
    height: 100vh;
    background-size: cover;
    background-position: center;
}

.custom-img {
    background: linear-gradient(to right, rgba(0, 0, 0, 0.877), rgba(0, 0, 0, 0.705), rgba(0, 0, 0, 0.651)),
        url('/template/omid-roshan-lHI9NA4U7hg-unsplash.jpg');
    height: 100vh;
    background-size: cover;
    background-position: center;
}


.menu-navbar .nav-link {
    color: #FFDF8F;
}

#navbar {
    transition: top 0.3s;
}

.navbar-hidden {
    top: -100px !important;
}


.bg-iconCard {
    background-color: #FFEE6D;
    width: 40px;
    height: 40px;
}

.card-nilaiNilai {
    color: white;
    background-color: #fff;
    transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.card-nilaiNilai:hover {
    color: #A99866;
    background-color: #A99866;
    transform: translateY(-10px);
}

.card-nilaiNilai:hover .bg-iconCard {
    background-color: #F9F8F3;
}

.card-nilaiNilai h4,
.card-nilaiNilai p {
    color: #6E6E6E;
}

.card-nilaiNilai:hover h4,
.card-nilaiNilai:hover p {
    color: white;
}

.bg-mepo {
    background: linear-gradient(to right, rgba(0, 0, 0, 0.884), rgba(0, 0, 0, 0.589), rgba(0, 0, 0, 0.164)),
        url("/template/nicolas-j-leclercq-ojK5ADTY4so-unsplash (1).webp");
    background-size: cover;
    background-position: center;
    min-height: 70vh;
}

.bg-goldProject {
    background: linear-gradient(to right, rgba(0, 0, 0, 0.884), rgba(0, 0, 0, 0.753), rgba(0, 0, 0, 0.438)),
        url("/template/Camión de obras  777G.jpg");
    background-size: cover;
    background-position: center;
    min-height: 50vh;

    display: flex;
    align-items: center;
    justify-content: center;
}

.bg-goldProjectR {
    background: linear-gradient(to left, rgba(0, 0, 0, 0.884), rgba(0, 0, 0, 0.753), rgba(0, 0, 0, 0.438)),
        url('/template/406bd29d-45fa-48c6-8a43-ad8feb2f77a9.jpg');
    background-size: cover;
    background-position: center;
    min-height: 50vh;

    display: flex;
    align-items: center;
    justify-content: center;
}

.nav-btn {
    outline: solid white 2px;
    color: white !important;
    transition: color 0.3s ease-in-out, outline 0.3s ease-in-out;
}

.nav-btn:hover {
    color: #A99866 !important;
    outline: solid #A99866 2px;
}

.nav-btn-karir {
    outline: solid #A99866 2px;
    color: #A99866 !important;
    transition: color 0.3s cubic-bezier(0.4, 0, 0.2, 1),
        outline 0.3s cubic-bezier(0.4, 0, 0.2, 1),
}

.nav-btn-karir:hover {
    outline: solid #6E6E6E 2px;
    color: #6E6E6E !important;
}

.scrolling-wrapper {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

#backToTop:hover {
    background-color: #915f1b;
    cursor: pointer;
    transition: 0.3s;
}

#backToTop:hover {
    cursor: pointer;
    transition: 0.3s;
}

.iconArrow-hover {
    font-size: 50px;
    color: #A7965F;
    transition: color 0.3s ease;
}

.iconArrow-hover:hover {
    color: #FFEE6D !important;
}

.nav-link.active {
    background-color: #A99866;
    color: white !important;
    border-radius: 0px 0px 0px 20px;
}

.bg-portofolio {
    background: linear-gradient(to right, rgba(0, 0, 0, 0.644), rgba(0, 0, 0, 0.644)),
        url("/template/omid-roshan-lHI9NA4U7hg-unsplash.jpg");
    min-height: 100vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}























@media (max-width: 768px) {
    .bg-mepo {
        background-position: center;
    }

    .bg-mepo h1 {
        font-size: 2.5rem !important;
    }

    .bg-mepo p {
        font-size: 1rem;
    }
}