* {
    margin: 0px;
    padding: 0px;
}

.menu-navbar .nav-link {
    color: #b6812c8e;
}

.navbar-brand img {
    filter: drop-shadow(2px 5px 5px rgba(0, 0, 0, 0.281));
}



.bg-carousel {
    background: linear-gradient(to right, #B6812C, #b6812c8e, #f8f8f800),
        url('/web/b3d5781d-7993-489c-aedb-1b110a81f4e1.jpg');
    height: 100vh;
    background-size: cover;
}

.bg-carousel2 {
    background: linear-gradient(to right, #B6812C, #b6812c8e, #ffffff00),
        url('/web/a29d224a-7bd2-465f-889e-25d00e55b066.jpg');
    height: 100vh;
    background-size: cover;
}

.bg-carousel3 {
    background: linear-gradient(to right, #B6812C, #b6812c8e, #ffffff00),
        url('/web/b8f6fc22-9df0-4cf4-ae46-ed62bd40d38e.jpg');
    height: 100vh;
    background-size: cover;
}


.under-line {
    background-color: #E8C56B;
    height: 5px;
    width: 10%;
}

.news {
    background: linear-gradient(to right, #E8C56B, rgba(0, 0, 0, 0));
    width: 30%;
    height: 20vh;
}

.logo-footter {
    width: 15rem;
    filter: drop-shadow(1px 5px 5px rgba(0, 0, 0, 0.404));
}

.menu-foot-first h3 {
    color: white;
    font-weight: bold;
}

.menu-foot-first a {
    text-decoration: none;
    color: white;
}

.menu-foot-first p {
    margin-bottom: 0px;
}

.menu-foot-two h3 {
    color: white;
    font-weight: bold;
}

.menu-foot-two a {
    text-decoration: none;
    color: white;
}

.menu-foot-two p {
    margin-bottom: 0px;
}


.nav-link.active {
    color: #755400 !important;
    border-radius: 5px;
}

.fade-in {
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 1s ease-out, transform 1s ease-out;
}

.fade-in.show {
    opacity: 1;
    transform: translateY(0);
}

.video-container {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

.video-container video {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100vh;
    object-fit: cover;
    /* Agar video memenuhi layar */
}

.overlay {
    position: absolute;
    top: 40%;
    left: 20%;
    transform: translate(-30%, -60%);
    text-align: start;
    max-width: 40%;
    color: white;
}

.bg-sekilas {
    background: linear-gradient(to right, #B6812C, #b6812c8e, #f8f8f800),
        url('/img/IMG-20240913-WA0035.jpg');
    height: 80vh;
    background-size: cover;
}

.under-line-sekilas {
    background-color: #E8C56B;
    height: 1vh;
    width: 15%;
}

.under-line-VMN {
    background-color: #e8c56b;
    height: 1vh;
    width: 10%;
}

.VMN h1 {
    color: #E8C56B;
}

.VMN p {
    text-align: justify;
}

.VMN-logo h3 {
    color: #755400;
}

.VMN-logo p {
    text-align: justify;
}

.nilai-nilai h1 {
    color: #E8C56B;
}

.nilai-nilai p {
    color: white;
}


.under-line-dewanKomisaris {
    background-color: #E8C56B;
    height: 5px;
    width: 10%;
}


.image-container {
    position: relative;
    display: inline-block;
    overflow: hidden;
}

.overlay-img {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 50%;
    background: linear-gradient(to top, #E8C56B, #e8c56b00);
    opacity: 0;
    transition: opacity 0.4s ease-in-out;
}


.hover-text {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    color: white;
    opacity: 0;
    transition: opacity 0.4s ease-in-out;
}


.image-container:hover .overlay-img,
.image-container:hover .hover-text {
    opacity: 1;
}

.under-lines-masmindo {
    background-color: #E8C56B;
    height: 5px;
    width: 20%;
}

.active-bg {
    background-color: white !important;
    color: #755400 !important;
}

.under-line-sosial {
    background-color: #E8C56B;
    height: 5px;
    width: 5%;
}

.under-line-proyek {
    width: 20%;
    background-color: #E8C56B;
    height: 10px;
}

.active-bg-adm {
    background-color: white;
}

#preview {
    max-width: 500px;
    max-height: 500px;
}

.modal-backdrop {
    z-index: 1040 !important;
}

.modal {
    z-index: 1050;
}

.scrolling-wrapper {
    overflow-x: auto;
    display: flex;
    flex-wrap: nowrap;
    gap: 1rem;
    scroll-behavior: smooth;
    padding: 1rem 2rem;
}

.scrolling-wrapper::-webkit-scrollbar {
    display: none;
}

.scrolling-wrapper {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.scroll-btn {
    background-color: #b6812c;
    border: none;
    color: white;
    border-radius: 50%;
    width: 35px;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
    transition: background-color 0.3s;
}

.scroll-btn:hover {
    background-color: #a06e23;
}

.underline-galeri {
    background-color: #755400;
    width: 10%;
    height: 5px;
}