* {
    font-family: "poppins";
}



.bg-login {
    background: linear-gradient(to right, rgba(0, 0, 0, 0.473), rgba(0, 0, 0, 0.473)), url('/public/Image/login.jpg');
    height: 100vh;
    background-size: cover;
    background-position: center;
}

.card-login {
    background-color: rgba(255, 255, 255, 0.342);
}

.carousel-item {
    height: 100vh;
    /* Membuat carousel full layar */
    background-color: #000;
}

.carousel-item img {
    object-fit: cover;
    /* Menjaga gambar agar sesuai dengan ukuran layar */
    height: 100%;
    width: 100%;
}

.bg-carousel-1 {
    background: url('/public/Image/Background/ac9caba6-67d1-4879-a003-492737821cbd.jpg');
    background-size: cover;
    background-position: center;
    height: 100vh;
}

.bg-carousel-2 {
    background: url('/public/Image/Background/3e700277-fee4-4224-a980-9ea0cddc693a (1).jpg');
    background-size: cover;
    background-position: center;
    height: 100vh;
}

.bg-carousel-3 {
    background: linear-gradient(to right, #11525854, #f1602283), url('/public/Image/Background/CampAwakMasJPEG.jpg');
    background-size: cover;
    background-position: center;
    height: 100vh;
}

.btn-carousel-1 {
    height: 5vh;
}

.responsive-iframe-container {
    position: relative;
    width: 100%;
    padding-bottom: 56.25%;
    /* 16:9 aspect ratio */
    height: 0;
    overflow: hidden;
}

.responsive-iframe-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
}

#beritaSlider::-webkit-scrollbar {
    display: none;
}

/* Esg */
.bg-card-lingkungan {

    height: 100vh;
    background-size: cover;
    background-position: center;
}

.bg-bawah {
    background: linear-gradient(to right, #115258c2, #115258c2), url('/public/Image/login.jpg');
    background-size: cover;
    background-position: center;
    height: 100vh;
}

.garis-putih {
    background-color: white;
    width: 2px;
    height: 20vh;
}

.img-tentang {
    background: linear-gradient(to right, rgba(0, 0, 0, 0.459), rgba(0, 0, 0, 0.459)), url('/public/Image/Background/CampAwakMasJPEG.jpg');
    background-size: cover;
    background-position: center;
    height: 100vh;
}

.nav-a h5 {
    color: #000;
    transition: color 0.3s ease;
}

.nav-a h5:hover {
    color: #F16022 !important;
}

.garis-nav {
    background-color: white;
    width: 2px;
    height: 80px;
}

.bg-bisnis {
    background: linear-gradient(to right, rgba(0, 0, 0, 0.459), rgba(0, 0, 0, 0.459)), url('/public/Image/Background/CampAwakMasJPEG.jpg');
    height: 100vh;
    background-size: cover;
    background-position: cover;
}